
input, select, button, a{
    margin-top: 10px;
}

.tabl{
    margin-top: 30px;
}
table, th, td{
    border: 1px solid black;
    width: 30%;
    border-collapse: collapse;
    
}
table{
    text-align: center;
}
th, td{
    padding: 5px;
}